// 🌟 Custom Fonts
@font-face {
  font-family: 'Raleway';
  src: url('@/fonts/raleway_normal_400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Italic';
  src: url('@/fonts/raleway_italic_500.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Finger Paint';
  src: url('@/fonts/finger_paint.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


// Bootstrap functions
@import '../../node_modules/bootstrap/scss/functions';

// Overwrite Bootstrap variables
@import './base/variables';

// Required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

// Required Bootstrap components
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/reboot';
@import '../../node_modules/bootstrap/scss/containers';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules//bootstrap/scss/forms';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/spinners';

// Bootstrap Icons
$bootstrap-icons-font-src: url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
  url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

// Base styles
@import './base/typography';
@import './base/mixin';

html {
  scrollbar-color: var(--bs-accent) transparent;
  font-size: 16px;

  @include media($bp-md) {
    font-size: 17px;
  }

  @include media($bp-xxl) {
    font-size: 18px;
  }
}

body {
  @include font-primary;
  color: var(--bs-secondary);
  background: var(--bs-primary);
  overflow-x: hidden;
}

// Components
@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/portfolio';
@import './components/contact';
@import './components/footer';
@import './components/themesToggler';
@import './components/whatsapp-float';
